@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');


*{
    font-family: "Host Grotesk", sans-serif;
    padding: 2px 0 0 0 ;
    margin: 0;
    
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
    background-color: transparent;
}

.react-tel-input .flag-dropdown.open .selected-flag {
    background: transparent;
    border-radius: 0;
}
